.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.login-card {
  position: absolute !important;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 320px;
  background: #0c3480;
  overflow: hidden;
}
.rectangle {
  width: inherit;
  /* height: 215px; */
  border-radius: 17px;
  margin-bottom: 2%;
  background-color: #fcf5ff;
}

.body-content {
  /* height: 60px; */
  font-family: Lato;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #130c4e;
}

.body-header {
  width: 244px;
  height: 30px;
  font-family: Lato;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ff236d;
  padding-bottom: 45px;
}

.box-content {
  width: inherit;
  height: 120px;
  border-radius: 10px;
  margin-right: 2%;
}

.letter-box {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.13);
  padding-top: 13px;
  padding-left: 20px;
  top: 28px;
  left: 30px;
  position: absolute;
}

.letter {
  width: 26px;
  height: 41px;
  font-family: Lato;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.status-increase {
  width: 24px;
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #11b250;
}

.status-decrease {
  width: 24px;
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fb4444;
}

.table-icon {
  font-size: 20px;
  border-radius: 4px;
  color: #3cc689;
  padding-right: 20px;
}

.count {
  position: absolute;
  margin-left: 24px;
  margin-top: 40px;
  width: 24px;
  height: 30px;
  font-family: Lato;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.count-desc {
  width: 103px;
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.55);
  position: absolute;
  left: 22px;
  margin-top: 70px;
}

.admin-page-column-left {
  margin-right: 2%;
}

.admin-page-column-right {
  margin-left: 2%;
  background: #fff;
}

.table-thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: inherit;
}

.table-name {
  float: 'right';
  position: absolute;
  top: 18%;
  padding-left: 5%;
}

.table-inner-name {
  width: 64px;
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #150e4f;
}

.table-designation {
  width: 48px;
  height: 15px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a7a7a7;
}

.table-email {
  width: 83px;
  height: 15px;
  font-family: Lato;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #518afc;
}

.box-button {
  float: right;
  top: 36%;
  position: relative;
}

.row-gap {
  padding: 1%;
}

.oval {
  width: 65px;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 50px;
  margin-right: -15px;
  margin-top: -15px;
  float: right;
}
.small-oval {
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 50px;
  margin-right: -70px;
  margin-top: 20px;
  float: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-layout-header {
  background: #ffffff !important;
}

.logo {
  width: 24px;
  height: 24px;
  border-radius: 4.9px;
  background-color: #feae2e;
}

.anticon {
  line-height: 2 !important;
}

.header-title {
  width: 69px;
  height: 22px;
  font-family: ProximaNova;
  font-size: 18.3px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #372d2b;
}

.sidemenu {
  width: 80px !important;
  height: 60px !important;
}

.menuitem {
  font-size: 25px !important;
  line-height: 2.5 !important;
  font-weight: 2px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  box-shadow: 0 4px 10px 0 rgba(45, 86, 126, 0.35);
  background-color: #feae2e;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
}

.floating-box {
  width: 250px;
  min-height: 372px;
  bottom: 125px;
  right: 40px;
  border-radius: 4px;
  box-shadow: 0 0 10px 10px rgba(16, 13, 61, 0.09);
  background-color: #ffffff;
  position: fixed;
  text-align: center;
}

.my-float {
  margin-top: 2px;
  font-size: 30px;
  left: 20px;
}

.chatbox-header .ant-tabs-nav-wrap {
  /* width: 250px; */
  /* height: 111px; */
  border-radius: 4px;
  background-color: #feae2e;
}

.chatbox-header .ant-tabs-tab {
  margin: 0 !important;
  padding: 8px 30px !important;
}

.chatbox-header .ant-tabs-tab-active {
  width: 115px;
  border-radius: 4px;
  color: black !important;
  background-color: #ffffff;
}

.chatbox-header .ant-tabs-ink-bar {
  background-color: white !important;
}

.chatbox-header-text {
  background-color: #feae2e;
  padding: 20px;
}

.chatbox-inputs {
  padding: 10px !important;
}

.chatbox-attachment {
  width: 45px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #eae9e9;
  background-color: #f3f3f3;
}

.divider-left {
  border-left: 1px solid #f0f0f0;
}

.divider-right {
  border-right: 1px solid #f0f0f0;
}

.header-menu {
  font-size: 17px;
}

.message-tile {
  width: 277px;
  min-height: 50px;
  border-radius: 7px;
  padding: 10px;
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.message-tile-meta {
  width: 148px;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #807c7c;
}

.back {
  width: 34px;
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #150e4f;
  cursor: pointer;
}

.add-lead-col {
  background-color: white;
}
